* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
  }

  body {
    width: 100%;
    min-height: 100vh;
    /* Safari and Chrome */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* Opera */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* Internet Explorer */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* Standard syntax (most modern browsers) */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    font-family: "Work Sans", sans-serif;
  }

  .container {
    padding: 4rem 4rem;
  }

  .container .t_head{
    font-size: 3rem;
    font-weight: bolder;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 2rem;
  }
  .container .or{
    font-size: 3rem;
    font-weight: bolder;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  form#predictionForm {
    min-height: 20vh; 
    width: 75%;
    padding: 20px; /* Add padding for spacing inside the form */
    border: 2px solid #000; /* Add border styling */
    border-radius: 2rem; /* Optional: Add rounded corners */
    margin: 0 auto;
    text-align: center;
    background-color: #192d44;
  }
  form#predictionForm .pfc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     /* Center the form horizontally */
    color: white;
}
.pfc1, .pfc2, .pfco{
    display: inline-block; /* Ensures elements are displayed on the same line */
    margin-right: 3rem;
    margin-top: 2rem;
    color: white; 
}

form#predictionForm .pfc1 input[type="text"] {
    width: 20rem; 
    height: 2rem;
    text-align: center;
    align-items: center;
    border-radius: 14px;
}
form#predictionForm .pfc .pfco h1{
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

form#predictionForm .pfc2 input[type="file"] {
    width: 300px; /* Adjust the width as needed */
}

form#predictionForm .pfc2 label[for="videoFile"] {
    display: block;
    margin-bottom: 5px;
}

form#predictionForm .pfc2 input[type="file"]::file-selector-button {
    visibility: hidden;
}

form#predictionForm .pfc2 input[type="file"]::before {
    content: 'Upload file';
    display: inline-block;
    background: rgb(0, 123, 255);
    color: white;
    padding: 8px 20px;
    border-radius: 14px;
    cursor: pointer;
}

form#predictionForm .pfc3 button {
    padding: 5px 5rem; /* Adjust padding for button size */
    font-size: 1.2rem; /* Adjust font size for button text */
    background: rgb(154, 196, 241);
    margin-top: 2rem;
    border-radius: 14px;
}

.cont2{
    width: 75%;
    margin: 2rem auto;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont2.rounded-border {
    border-radius: 2rem; /* Apply border-radius when the 'rounded-border' class is present */
    border: 2px solid #2a2f38;
}

.cont2 #predictionResult{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

#predictionGraph img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    max-height: 300px; /* Set the maximum height for the image */
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Initially hide loader */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .video {
    border: 2px solid #000000;
    border-radius: 10px;
    /* overflow: hidden; */
}


/* Add this media query at the end of your CSS file */

@media only screen and (max-width: 1200px) {

  .container .t_head {
    font-size: 2.5rem;
    font-weight: bolder;
    
}
  form#predictionForm .pfc{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: none;
  }
  .pfc1, .pfc2, .pfco{
    display: inline-block; /* Ensures elements are displayed on the same line */
    margin-right: 0rem;
    margin-top: 1rem;
    color: white; 
}

.pfco{
  margin-bottom: 0 rem;
}

form#predictionForm .pfc1 input[type="text"] {
  width: 27rem; 
  height: 2.2rem;
  border-radius: 16px;
}
form#predictionForm .pfc2 input[type="file"] {
  width: 27rem;
}
form#predictionForm .pfc2 input[type="file"]::before {
  padding: 10px 5rem;
  border-radius: 14px;
  cursor: pointer;
}

form#predictionForm .pfc3 button {
  padding: 5px 2rem;
}
  
}

#myVideo {
  width: 500px;
  height: 300px;
}
@media only screen and (max-width: 758px) {
  #myVideo {
    width: 100%; /* Set video width to 100% of the container */
    height: auto; /* Allow the height to adjust proportionally */
}

}

@media only screen and (max-width: 730px) {
  .container .t_head {
    font-size: 2.2rem;
    font-weight: bolder;   
}
form#predictionForm .pfc3 button {
  padding: 5px 2rem;
}
form#predictionForm .pfc1 input[type="text"] {
  width: 15rem;
  height: 1.8rem;
}
form#predictionForm .pfc2 input[type="file"] {
  width: 16rem;
}
form#predictionForm .pfc2 input[type="file"]::before {
  padding: 8px 5.8rem;
  border-radius: 16px;
  cursor: pointer;
}
form#predictionForm .pfc3 button {
  padding: 6px 2rem;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bolder;
  color: rgb(44, 39, 39);
}
form#predictionForm .pfc .pfco h1 {
    font-size: 1.2rem;
}
}

@media only screen and (max-width: 518px) {
  .container .t_head {
    font-size: 2rem;
    font-weight: bolder; 
    margin-top: 1rem;
    padding: 4px 5px;
}
form#predictionForm {
  width: 100%;
}
.container {
  padding: 1.2rem 1.2rem;
}
form#predictionForm {
  width: 85%;
}
}


@media only screen and (max-width: 394px) {
  .container .t_head {
    font-size: 1.8rem;
    font-weight: bolder; 
    margin-top: 1rem;
}
form#predictionForm {
  width: 85%;
}
.container {
  padding: 1.2rem 1.2rem;
}
form#predictionForm .pfc1 input[type="text"] {
  width: 11rem;
  height: 1.6rem;
}
form#predictionForm .pfc2 input[type="file"]::before {
  padding: 6.4px 3.8rem;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 2.1rem;
}
}
