<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Recognition</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1 class="t_head">Sports Action Recognition</h1>
    <div class="p_form">
    <form id="predictionForm" enctype="multipart/form-data">
        <div class="pfc">
        <div class="pfc1">
            <input type="text" id="youtubeUrl" name="youtubeUrl" placeholder="Enter YouTube URL">
        </div>
        <div class="pfco"><h1 class="or">OR</h1></div>
        <div class="pfc2">
            <input type="file" id="videoFile" name="videoFile">
        </div>
    </div>
        <div class="pfc3">
            <button type="button" id="predictButton" onclick="predictAction()">Predict Class</button>
        </div>
    </form>
</div>
<div class="cont2">
    <div id="loader" class="loader"></div>
    <div id="video_container" class="video">
        <video id="myVideo" controls>
            <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="predictionGraph"></div>
    <div id="predictionResult"></div> 
</div>
</div>
    <script>

        window.addEventListener('load', function() {
            var video = document.getElementById('myVideo');
            if (video) {                
                video.parentNode.removeChild(video);
            }
        });
        
        
        function predictAction() {

            var loader = document.getElementById('loader');
            loader.style.display = 'block';
            setTimeout(function() {
                    loader.style.display = 'none';
                }, 1250000);

            var youtubeUrl = document.getElementById('youtubeUrl').value;
            var videoFile = document.getElementById('videoFile').files[0];
            document.querySelector('.cont2').classList.add('rounded-border');
            var formData = new FormData();
            formData.append('youtube_url', youtubeUrl);
            formData.append('video_file', videoFile);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/predict", true);
             document.querySelector('.cont2').classList.add('rounded-border');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('predictionGraph').innerHTML = '<img src="data:image/png;base64,' + response.plot_data + '">';
                        document.getElementById('predictionResult').innerHTML = response.predicted_class;
                        document.getElementById('video_container').innerHTML = '<video id="myVideo" autoplay muted controls><source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">Your browser does not support the video tag.</video>';
                        
                        // Send GET request for video file
                        var videoRequest = new XMLHttpRequest();
                        videoRequest.open("GET", "{{ url_for('static', filename='video.mp4') }}", true);
                        videoRequest.responseType = 'blob';
                        videoRequest.onload = function() {
                            if (this.status === 200) {
                                var videoBlob = this.response;
                                var videoUrl = URL.createObjectURL(videoBlob);
                                document.getElementById('video_container').innerHTML = '<video id="myVideo" autoplay muted controls><source src="' + videoUrl + '" type="video/mp4">Your browser does not support the video tag.</video>';
                                loader.style.display = 'none';
                            }
                        };
                        videoRequest.send();
                        loader.style.display = 'none';
                        document.getElementById("predictionForm").reset();
                        
                    } else {
                        console.log('Error:', xhr.status);
                    }
                }
            };
            xhr.send(formData);
        }
    </script>
</body>
</html>
